* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

header {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    color: black;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 20px;
    color: black;
    font-weight: 100;
}

nav {
    position: relative;
}

ul {
    display: flex;
    align-items: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    margin-right: 20px;
    color: black;
}

a:hover {
    background-color: rgb(111, 164, 199);
}

#bars {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: rgb(120, 143, 255);
}

.signup-btn {
    padding: 8px 16px;
    border: 2px solid rgb(120, 143, 255);
    background-color: transparent;
    color: rgb(120, 143, 255);
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

i {
    color: black;
}

#cross {
    display: none;
    position: relative;
    z-index: 999;
}

.overly{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    transition: all .4s ease;
}

.active{
    background-color: antiquewhite;
}

@media screen and (max-width: 768px) {

    nav {
        top: 0;
        left: -100%;
        height: 100vh;
        width: 60%;
        position: fixed;
        transition: left .6s;
        background-color: rgb(134, 221, 192);
    }

    nav ul {
        flex-direction: column;
        margin-top: 80px;
        row-gap: 20px;
        width: 100%;
    }

    li{
        padding: 10px 15px;
        text-align: center;
        width: 100%;
        background-color: white;
        box-shadow: 0 2px 5px  rgba(0, 0, 0, 0.5);
    }

    nav.show {
        left: 0;
    }

    #bars {
        display: block;
    }

    #cross {
        cursor: pointer;
        display: block;
        position: absolute;
        top: 20px;
        right: 10px;
    }
}