@media screen and (max-width:1200px) {

    .switch-btn,
    .Floating-label {
        width: 35%;
    }
}

@media screen and (max-width:992px) {

    .switch-btn,
    .Floating-label {
        width: 54%;
    }

    .vertical-line {
        border: 2px solid #000;
        height: 0px;
        width: 47%;
    }

}

@media screen and (max-width:768px) {

    .switch-btn,
    .Floating-label {
        width: 70%;
    }

    .vertical-line {
        width: 60%;
    }

}

@media screen and (max-width:576px) {

    .switch-btn,
    .Floating-label {
        width: 85%;
    }

    .vertical-line {
        width: 75%;
    }
}